<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta http-equiv="x-ua-compatible" content="ie=edge" />
  <title>Setup | Ekko</title>
  <link rel="icon" href="/static/img/favicon.png" type="image/x-icon" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap" />
  <link rel="stylesheet" href="/static/css/mdb.min.css" />
  <link rel="stylesheet" href="/static/css/setup.css" />
</head>

<body style="background-color: #d9d9d9; align-items: center; height: 100vh; display: flex;" class="f-in">
  <div class="col-lg-4 container d-flex justify-content-center align-items-center">
    <div class="card rounded-5 shadow-4-strong d-flex justify-content-center align-items-center" style="height: auto;">
      <div class="card-body">
        <h3 class="card-title text-center">1) Creating a Spotify Developer App
        </h3>
        <hr class="hr hr-blurry" />
        <div class="text-center">
          <p class="mb-3">Welcome to Ekko, the coolest way to add some flair to the way you enjoy your music. You'll be
            walked through all of the nececessary steps to get up and running ASAP!</p>
          <h5 class="mb-3">Go on, what are you waiting for? Press the button below to begin setup.</h5>
          <button class="btn btn-primary btn-lg">Continue</button>
        </div>
      </div>
    </div>
  </div>
  </div>
  <script type="text/javascript" src="/static/js/mdb.min.js"></script>
</body>

</html>