<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta http-equiv="x-ua-compatible" content="ie=edge" />
  <title>Setup | Ekko</title>
  <link rel="icon" href="/static/img/favicon.png" type="image/x-icon" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap" />
  <link rel="stylesheet" href="/static/css/mdb.min.css" />
  <link rel="stylesheet" href="/static/css/setup.css" />
</head>

<body style="background-color: #d9d9d9; align-items: center; height: 100vh; display: flex;" class="f-in">
  <div class="col-lg-4 container d-flex justify-content-center align-items-center">
    <div class="card rounded-5 shadow-4-strong d-flex justify-content-center align-items-center" style="height: auto;">
      <div class="card-body">
        <h3 class="card-title text-center" class="align-items-center justify-content-center">1) Creating a Spotify
          Developer App <i class="fab fa-spotify" style="color: #1DB954;"></i>
        </h3>
        <hr class="hr hr-blurry" />
        <ol>
          <li>Head over to <a
              href="https://developer.spotify.com/dashboard/">https://developer.spotify.com/dashboard/</a> and log in
            with your Spotify account.</li>
          <li>Once logged in, click the <code class="text-uppercase">Create An App</code> button and configure the app
            as such:
            <ul>
              <li class="align-items-center justify-content-center">
                <code>App name: </code>whatever you want, but we recommend <code>Ekko</code>
              </li>
              <li class="align-items-center justify-content-center">
                <code>App description: </code>up to you!
              </li>
              <li class="align-items-center justify-content-center">
                <code>Accept the TOS: </code>
                <i class="fas fa-check-circle" style="color: #1DB954;"></i>
              </li>
            </ul>
          </li>
        </ol>
        <div class="text-center">
          <p class="mb-3">Great! You should've been brought to the settings page for the app you've newly created. Click
            Next below to continue.</p>
          <hr class="hr" />
          <button class="btn btn-primary btn-lg"
            onclick="javascript:window.location.href = '/setup?page=dev_app_config'">Next</button>
        </div>
      </div>
    </div>
  </div>
  </div>
  <script type="text/javascript" src="/static/js/mdb.min.js"></script>
</body>

</html>